.character-card-group {
    margin-top: 128px;
}
.character-card {
    min-height: 240px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    width: 240px;
    background-color: white;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.character-card:hover {
    cursor:zoom-in;
    -webkit-filter: brightness(85%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}